ul{
	list-style: none;
	margin-top: 0px;
	padding-left: 0px;
}
.border-red{
	border: 2px solid red;
}
#logs_tab{
    margin-top: 20px;
}
#logs_tab .logs_tab_inner{
    background-color: #f1f1f1;
    border: 1px solid #b1b1b1;
	width: 100%;
	max-width: 800px;
	height: 300px;
    position: relative;
	overflow: auto;
}
#logs_tab .logs_data{
	margin: 0;
	padding: 0;
    position: relative;
    bottom: 3px;
}

#logs_tab .logs_data > li{
    font-size: 12px;
    line-height: 16px;
}

.close_style{
	color: #B71C1C;
    text-decoration: none;
	cursor: pointer;
}

.moving_arrows .arrow{
	cursor: pointer;
	color: #212121;
}

.vjs-big-play-button {
	margin-top: 170px;
    margin-left: 40%;
}

.grid {
	margin-top: 0 !important;
}

.column {
	padding-top: 0px !important;
}

.padding-2 {
	padding-top: 2px !important;
}

.green {
	color: #1B5E20;
}